/* 
  .fadeIn
  .fadeOut
  .workIn
  .workOut

  Animista.net
*/

.scale-down-center {
	-webkit-animation: scale-down-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-down-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}



.scale-up-center {
	-webkit-animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}





.fadeIn { 
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
  -webkit-animation: fadeInAnimation ease 3s;
	-webkit-animation-iteration-count: 1; 
	-webkit-animation-fill-mode: forwards; 
} 

.fadeOut { 
	animation: fadeOutAnimation ease 3s;
	animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
  -webkit-animation: fadeOutAnimation ease 3s;
	-webkit-animation-iteration-count: 1; 
	-webkit-animation-fill-mode: forwards; 
} 

@keyframes fadeInAnimation { 
	0% { 
		opacity: 0; 
	} 
	100% { 
		opacity: 1; 
	} 
} 
@-webkit-keyframes fadeInAnimation { 
	0% { 
		opacity: 0; 
	} 
	100% { 
		opacity: 1; 
	} 
} 

@keyframes fadeOutAnimation { 
	0% { 
		opacity: 1; 
	} 
	100% { 
		opacity: 0; 
	} 
} 

@-webkit-keyframes fadeOutAnimation { 
	0% { 
		opacity: 1; 
	} 
	100% { 
		opacity: 0; 
	} 
} 
